<html>

<head>

</head>

<body>
  <h2> City weather app </h2>

  <form>
    <input placeholder="enter a city" name="city">
    <button>Search</button>
    <label></label>
  </form>

</body>
<script src="../js/app.js"></script>

</html>